// Base styles
$form-width: 300px;
$input-border-color: #ccc;
$button-background-color: #007bff;
$button-text-color: #fff;

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: $form-width;
  margin: 0 auto;
  
  h1 {
    margin-bottom: 20px;
    text-align: center;
  }

  div {
    width: 100%;
    margin-bottom: 20px;

    .p-float-label {
      position: relative;

      input {
        width: 100%;
        // padding: 7px 0;
        // border: none;
        // border-bottom: 1px solid $input-border-color;
        // outline: none;
        
        &:focus {
          border-color: $button-background-color;
        }
      }

      label {
        position: absolute;
        // top: 0;
        // left: 0;
        // width: 100%;
        // padding: 7px 0;
        pointer-events: none;
        font-size: 14px;
        color: $input-border-color;
        transition: 0.2s ease all;
        
        &.p-input-filled {
          top: -16px;
          font-size: 12px;
          color: $button-background-color;
        }
      }
    }
  }

  .p-button {
    width: 100%;
    background-color: $button-background-color;
    color: $button-text-color;
    margin-top: 20px;
  }
}
