<form>
    <h1>Set New Password?</h1>
    <div>
        <span class="p-float-label">
            <p-password [(ngModel)]="password" [feedback]="false" [toggleMask]="true" [ngModelOptions]="{standalone: true}"></p-password>
            <label for="password">New Password</label>
        </span>
    </div>

    <div>
        <span class="p-float-label">
            <p-password [feedback]="false" [toggleMask]="true"></p-password>
            <label for="password">Confirm Password</label>
        </span>
    </div>

    <div>
        <p-button label="Reset" (click)="newpass()"></p-button>
   </div>

</form>
